<h1> DBZ personajes</h1>
<hr>
<div  class="row">
    <div class="col">
        <app-dbz-list></app-dbz-list>
    </div>

    <div class="col">
        <!--add characters-->
        <h4>agregar personaje</h4>
        <form class="row">
            <input type="text"  class="form-control mb-2" placeholder="Nombre">
            <input type="text"  class="form-control mb-2"   placeholder="poder">
            <button type="submit" class="btn btn-primary">
                agregar
            </button>
        </form>
    </div>

</div>
